In [1]:
var = 'one'

In [2]:
var

'one'

123123lfsjfdksd

skdjfksdjfakfj;kfj

In [3]:
'dklffjs'

'dklffjs'

# test test???~~~llolool

In [4]:
varlist = ['a','b','c']

In [5]:
varlist

['a', 'b', 'c']

In [6]:
type(varlist
)

list

In [8]:
varlist.count(1)

0

In [9]:
DataFrame

NameError: name 'DataFrame' is not defined

In [10]:
help()

Welcome to Python 3.7's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.7/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> dataframe
No Python documentation found for 'dataframe'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help> DataFrame
No Python documentation found for 'DataFrame'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [11]:
import pandas as pd

In [12]:
help()

Welcome to Python 3.7's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.7/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.
help> dataframe

In [13]:
help('DataFrame')

No Python documentation found for 'DataFrame'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [14]:
help('pd')

No Python documentation found for 'pd'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [15]:
help(pd)

Help on package pandas:

NAME
    pandas

DESCRIPTION
    pandas - a powerful data analysis and manipulation library for Python
    =====================================================================

    **pandas** is a Python package providing fast, flexible, and expressive data
    structures designed to make working with "relational" or "labeled" data both
    easy and intuitive. It aims to be the fundamental high-level building block for
    doing practical, **real world** data analysis in Python. Additionally, it has
    the broader goal of becoming **the most powerful and flexible open source data
    analysis / manipulation tool available in any language**. It is already well on
    its way toward this goal.

    Main Features
    -------------
    Here are just a few of the things that pandas does well:

      - Easy handling of missing data in floating point as well as non-floating
        point data.
      - Size mutability: columns can be inserted and deleted from DataFrame and
        higher dimensional objects
      - Automatic and explicit data alignment: objects can be explicitly aligned
        to a set of labels, or the user can simply ignore the labels and let
        `Series`, `DataFrame`, etc. automatically align the data for you in
        computations.
      - Powerful, flexible group by functionality to perform split-apply-combine
        operations on data sets, for both aggregating and transforming data.
      - Make it easy to convert ragged, differently-indexed data in other Python
        and NumPy data structures into DataFrame objects.
      - Intelligent label-based slicing, fancy indexing, and subsetting of large
        data sets.
      - Intuitive merging and joining data sets.
      - Flexible reshaping and pivoting of data sets.
      - Hierarchical labeling of axes (possible to have multiple labels per tick).
      - Robust IO tools for loading data from flat files (CSV and delimited),
        Excel files, databases, and saving/loading data from the ultrafast HDF5
        format.
      - Time series-specific functionality: date range generation and frequency
        conversion, moving window statistics, moving window linear regressions,
        date shifting and lagging, etc.

PACKAGE CONTENTS
    _libs (package)
    _version
    api (package)
    compat (package)
    computation (package)
    conftest
    core (package)
    errors (package)
    formats (package)
    io (package)
    json
    lib
    parser
    plotting (package)
    testing
    tests (package)
    tools (package)
    tseries (package)
    tslib
    types (package)
    util (package)

SUBMODULES
    _hashtable
    _lib
    _tslib
    offsets

DATA
    IndexSlice = <pandas.core.indexing._IndexSlice object>
    NaT = NaT
    __docformat__ = 'restructuredtext'
    datetools = <module 'pandas.core.datetools' from '/Users/xia...ython3....
    describe_option = <pandas.core.config.CallableDynamicDoc object>
    get_option = <pandas.core.config.CallableDynamicDoc object>
    json = <module 'pandas.json' from '/Users/xiaojuezhang/...nda3/lib/pyt...
    lib = <module 'pandas.lib' from '/Users/xiaojuezhang/anaconda3/lib/pyt...
    options = <pandas.core.config.DictWrapper object>
    parser = <module 'pandas.parser' from '/Users/xiaojuezhan...a3/lib/pyt...
    plot_params = {'xaxis.compat': False}
    reset_option = <pandas.core.config.CallableDynamicDoc object>
    set_option = <pandas.core.config.CallableDynamicDoc object>
    tslib = <module 'pandas.tslib' from '/Users/xiaojuezhang...da3/lib/pyt...

VERSION
    0.23.4

FILE
    /Users/xiaojuezhang/anaconda3/lib/python3.7/site-packages/pandas/__init__.py

In [16]:
help(DataFrame)

NameError: name 'DataFrame' is not defined

In [17]:
DataFrame df

SyntaxError: invalid syntax (<ipython-input-17-2ab55bfa52d0>, line 1)

In [18]:
panda.DataFrame()

NameError: name 'panda' is not defined

In [19]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [20]:
df = pd.DataFrame()

In [21]:
df

Empty DataFrame
Columns: []
Index: []

In [22]:
# blahblahblah

### hello world?!

In [27]:
# Declare packages
import pandas as pd
import numpy as np
import os #operational system

In [28]:
ls

LAPD Data/         NBA Data/          Workshop #1.ipynb

In [29]:
dir

In [30]:
ls -all

total 56
drwxr-xr-x   7 xiaojuezhang  staff    224 Jan 14 18:53 ./
drwxr-xr-x   5 xiaojuezhang  staff    160 Jan 13 14:13 ../
-rw-r--r--@  1 xiaojuezhang  staff   6148 Jan 13 14:31 .DS_Store
drwxr-xr-x   3 xiaojuezhang  staff     96 Jan 14 18:38 .ipynb_checkpoints/
drwxr-xr-x@  8 xiaojuezhang  staff    256 Jan 13 14:31 LAPD Data/
drwxr-xr-x@ 11 xiaojuezhang  staff    352 Jan 13 14:13 NBA Data/
-rw-r--r--   1 xiaojuezhang  staff  18359 Jan 14 18:53 Workshop #1.ipynb

In [31]:
ls -path

./                  .ipynb_checkpoints/ LAPD Data/          NBA Data/
Workshop #1.ipynb   .DS_Store           ../

In [32]:
ls --help

ls: illegal option -- -
usage: ls [-ABCFGHLOPRSTUWabcdefghiklmnopqrstuwx1] [file ...]

In [33]:
ls -help

total 40
drwxr-xr-x@  8 xiaojuezhang  staff   256B Jan 13 14:31 LAPD Data/
drwxr-xr-x@ 11 xiaojuezhang  staff   352B Jan 13 14:13 NBA Data/
-rw-r--r--   1 xiaojuezhang  staff    18K Jan 14 18:53 Workshop #1.ipynb

In [34]:
os.chdir(..)

SyntaxError: invalid syntax (<ipython-input-34-995bd7f665a1>, line 1)

In [35]:
ls *

Workshop #1.ipynb

LAPD Data:
7z1806.exe*                           MO_CODES_Numerical_20180627.pdf*
LAPD Data Explore.ipynb*              arrest-data-from-2010-to-present.csv*
LAPD Data Explore.py*                 crime-data-from-2010-to-present.csv*

NBA Data:
NBA Data Exploration.ipynb*          [2019-01-01]-0021800553-PHI@LAC.csv*
[2018-12-23]-0021800494-LAC@GSW.csv* [2019-01-04]-0021800573-LAC@PHX.csv*
[2018-12-26]-0021800511-SAC@LAC.csv* [2019-01-06]-0021800586-ORL@LAC.csv*
[2018-12-28]-0021800526-LAC@LAL.csv* [2019-01-08]-0021800606-CHA@LAC.csv*
[2018-12-29]-0021800535-SAS@LAC.csv*

In [41]:
os.chdir('/users/xiaojuezhang/Documents/00-personal/USC/2019Spring/DSO599-ReadyForBigData/Python workshop/1-Collapsing Data/NBA Data')

In [42]:
ls

NBA Data Exploration.ipynb*          [2019-01-01]-0021800553-PHI@LAC.csv*
[2018-12-23]-0021800494-LAC@GSW.csv* [2019-01-04]-0021800573-LAC@PHX.csv*
[2018-12-26]-0021800511-SAC@LAC.csv* [2019-01-06]-0021800586-ORL@LAC.csv*
[2018-12-28]-0021800526-LAC@LAL.csv* [2019-01-08]-0021800606-CHA@LAC.csv*
[2018-12-29]-0021800535-SAS@LAC.csv*

In [45]:
ls -l

total 3040
-rwxr-xr-x@ 1 xiaojuezhang  staff  139946 Jan 12 13:45 NBA Data Exploration.ipynb*
-rwxr-xr-x@ 1 xiaojuezhang  staff  173572 Dec 24 09:18 [2018-12-23]-0021800494-LAC@GSW.csv*
-rwxr-xr-x@ 1 xiaojuezhang  staff  175002 Dec 27 09:28 [2018-12-26]-0021800511-SAC@LAC.csv*
-rwxr-xr-x@ 1 xiaojuezhang  staff  180181 Dec 29 09:55 [2018-12-28]-0021800526-LAC@LAL.csv*
-rwxr-xr-x@ 1 xiaojuezhang  staff  172405 Dec 30 09:44 [2018-12-29]-0021800535-SAS@LAC.csv*
-rwxr-xr-x@ 1 xiaojuezhang  staff  189010 Jan  2 09:47 [2019-01-01]-0021800553-PHI@LAC.csv*
-rwxr-xr-x@ 1 xiaojuezhang  staff  165125 Jan  5 09:51 [2019-01-04]-0021800573-LAC@PHX.csv*
-rwxr-xr-x@ 1 xiaojuezhang  staff  168280 Jan  7 08:25 [2019-01-06]-0021800586-ORL@LAC.csv*
-rwxr-xr-x@ 1 xiaojuezhang  staff  171567 Jan  9 09:42 [2019-01-08]-0021800606-CHA@LAC.csv*

In [46]:
ls -d

./

In [47]:
ls -help

total 3040
-rwxr-xr-x@ 1 xiaojuezhang  staff   137K Jan 12 13:45 NBA Data Exploration.ipynb
-rwxr-xr-x@ 1 xiaojuezhang  staff   170K Dec 24 09:18 [2018-12-23]-0021800494-LAC@GSW.csv
-rwxr-xr-x@ 1 xiaojuezhang  staff   171K Dec 27 09:28 [2018-12-26]-0021800511-SAC@LAC.csv
-rwxr-xr-x@ 1 xiaojuezhang  staff   176K Dec 29 09:55 [2018-12-28]-0021800526-LAC@LAL.csv
-rwxr-xr-x@ 1 xiaojuezhang  staff   168K Dec 30 09:44 [2018-12-29]-0021800535-SAS@LAC.csv
-rwxr-xr-x@ 1 xiaojuezhang  staff   185K Jan  2 09:47 [2019-01-01]-0021800553-PHI@LAC.csv
-rwxr-xr-x@ 1 xiaojuezhang  staff   161K Jan  5 09:51 [2019-01-04]-0021800573-LAC@PHX.csv
-rwxr-xr-x@ 1 xiaojuezhang  staff   164K Jan  7 08:25 [2019-01-06]-0021800586-ORL@LAC.csv
-rwxr-xr-x@ 1 xiaojuezhang  staff   168K Jan  9 09:42 [2019-01-08]-0021800606-CHA@LAC.csv

In [48]:
ls --help

ls: illegal option -- -
usage: ls [-ABCFGHLOPRSTUWabcdefghiklmnopqrstuwx1] [file ...]

In [49]:
ls -d

./

In [50]:
data = pd.read_csv("./[2018-12-28]-0021800526-LAC@LAL.csv")

In [53]:
data.head()

,game_id,data_set,date,a1,a2,a3,a4,a5,h1,h2,...,reason,result,steal,type,shot_distance,original_x,original_y,converted_x,converted_y,description
0,"=""0021800526""",2018-2019 Regular Season,2018-12-28,Tobias Harris,Danilo Gallinari,Boban Marjanovic,Avery Bradley,Shai Gilgeous-Alexander,Brandon Ingram,Kyle Kuzma,...,NaN,NaN,NaN,start of period,NaN,NaN,NaN,NaN,NaN,NaN
1,"=""0021800526""",2018-2019 Regular Season,2018-12-28,Tobias Harris,Danilo Gallinari,Boban Marjanovic,Avery Bradley,Shai Gilgeous-Alexander,Brandon Ingram,Kyle Kuzma,...,NaN,NaN,NaN,jump ball,NaN,NaN,NaN,NaN,NaN,Jump Ball Zubac vs. Marjanovic: Tip to Harris
2,"=""0021800526""",2018-2019 Regular Season,2018-12-28,Tobias Harris,Danilo Gallinari,Boban Marjanovic,Avery Bradley,Shai Gilgeous-Alexander,Brandon Ingram,Kyle Kuzma,...,bad pass,NaN,Ivica Zubac,bad pass,NaN,NaN,NaN,NaN,NaN,"Bradley Bad Pass Turnover (P1.T1), Zubac STEAL..."
3,"=""0021800526""",2018-2019 Regular Season,2018-12-28,Tobias Harris,Danilo Gallinari,Boban Marjanovic,Avery Bradley,Shai Gilgeous-Alexander,Brandon Ingram,Kyle Kuzma,...,NaN,missed,NaN,Hook Shot,1.0,-10.0,10.0,24.0,88.0,MISS Zubac 1' Hook Shot
4,"=""0021800526""",2018-2019 Regular Season,2018-12-28,Tobias Harris,Danilo Gallinari,Boban Marjanovic,Avery Bradley,Shai Gilgeous-Alexander,Brandon Ingram,Kyle Kuzma,...,NaN,NaN,NaN,rebound defensive,NaN,NaN,NaN,NaN,NaN,Bradley REBOUND (Off:0 Def:1)

In [54]:
data.columns

Index(['game_id', 'data_set', 'date', 'a1', 'a2', 'a3', 'a4', 'a5', 'h1', 'h2',
       'h3', 'h4', 'h5', 'period', 'away_score', 'home_score',
       'remaining_time', 'elapsed', 'play_length', 'play_id', 'team',
       'event_type', 'assist', 'away', 'home', 'block', 'entered', 'left',
       'num', 'opponent', 'outof', 'player', 'points', 'possession', 'reason',
       'result', 'steal', 'type', 'shot_distance', 'original_x', 'original_y',
       'converted_x', 'converted_y', 'description'],
      dtype='object')

In [56]:
data.row.count()

AttributeError: 'DataFrame' object has no attribute 'row'

In [57]:
data.describe()

,period,away_score,home_score,play_id,num,outof,points,shot_distance,original_x,original_y,converted_x,converted_y
count,514.000000,514.000000,514.000000,514.000000,69.000000,69.000000,247.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,2.464981,53.714008,50.272374,355.871595,1.434783,1.869565,0.910931,12.814607,3.971910,90.606742,24.583708,46.131461
std,1.151209,34.991644,32.674300,210.103834,0.527989,0.450916,0.987813,9.997424,100.653987,89.346038,10.064622,34.208152
min,1.000000,0.000000,0.000000,2.000000,1.000000,1.000000,0.000000,0.000000,-239.000000,-19.000000,1.100000,4.400000
25%,1.000000,22.000000,18.000000,174.250000,1.000000,2.000000,0.000000,3.000000,-30.000000,16.250000,21.000000,10.500000
50%,2.000000,48.000000,52.500000,346.500000,1.000000,2.000000,1.000000,11.000000,1.000000,53.500000,25.000000,34.900000
75%,4.000000,84.000000,80.000000,545.750000,2.000000,2.000000,2.000000,23.000000,42.500000,162.750000,28.200000,83.775000
max,4.000000,118.000000,107.000000,718.000000,3.000000,3.000000,3.000000,45.000000,234.000000,453.000000,48.300000,90.900000

In [58]:
data['description']

0                                                    NaN
1          Jump Ball Zubac vs. Marjanovic: Tip to Harris
2      Bradley Bad Pass Turnover (P1.T1), Zubac STEAL...
3                                MISS Zubac 1' Hook Shot
4                          Bradley REBOUND (Off:0 Def:1)
5                      MISS Bradley 19' Pullup Jump Shot
6                           Ingram REBOUND (Off:0 Def:1)
7                           MISS Zubac 5' Hook Bank Shot
8                           Harris REBOUND (Off:0 Def:1)
9      Gilgeous-Alexander Out of Bounds - Bad Pass Tu...
10                       Ingram 3' Driving Layup (2 PTS)
11          Gilgeous-Alexander S.FOUL (P1.T1) (E.Malloy)
12                         MISS Ingram Free Throw 1 of 1
13                      Marjanovic REBOUND (Off:0 Def:1)
14                               MISS Gallinari 2' Layup
15                       Gallinari REBOUND (Off:1 Def:0)
16                           MISS Bradley  3PT Jump Shot
17                            Ball REBOUND (Off:0 Def:1)
18                          MISS Kuzma 27' 3PT Jump Shot
19                       Gallinari REBOUND (Off:1 Def:1)
20     Bradley 9' Fadeaway Jumper (2 PTS) (Gallinari ...
21                          MISS Zubac 4' Jump Bank Shot
22                           Zubac REBOUND (Off:1 Def:0)
23                                 Ball 3' Layup (2 PTS)
24       Harris 19' Jump Shot (2 PTS) (Marjanovic 1 AST)
25                               MISS Zubac 4' Hook Shot
26                      Marjanovic REBOUND (Off:0 Def:2)
27                     MISS Harris 7' Floating Jump Shot
28                            Hart REBOUND (Off:0 Def:1)
29     Clippers T.Foul (Def. 3 Sec Marjanovic ) (S.Tw...
                             ...
484                       Williams REBOUND (Off:0 Def:6)
485                MISS Williams 21' Step Back Jump Shot
486                                       LAKERS Rebound
487                  SUB: Harrell FOR Gilgeous-Alexander
488            Clippers Timeout: Regular (Reg.5 Short 0)
489                  Stephenson 2' Driving Layup (8 PTS)
490    Williams 26' 3PT Jump Shot (34 PTS) (Bradley 3...
491                       MISS Stephenson  3PT Jump Shot
492                                     Clippers Rebound
493                Ingram L.B.FOUL (P5.T3) (S.Twardoski)
494                      Kuzma S.FOUL (P3.T4) (R.Acosta)
495                     Harris Free Throw 1 of 2 (8 PTS)
496                     Harris Free Throw 2 of 2 (9 PTS)
497    Caldwell-Pope  3PT Jump Shot (10 PTS) (Stephen...
498            Harrell 1' Dunk (12 PTS) (Williams 3 AST)
499                 MISS Stephenson 19' Pullup Jump Shot
500                     Stephenson REBOUND (Off:1 Def:1)
501    Bradley STEAL (1 STL), Stephenson Lost Ball Tu...
502                 Stephenson S.FOUL (P3.PN) (E.Malloy)
503                  Williams Free Throw 1 of 2 (35 PTS)
504                  Williams Free Throw 2 of 2 (36 PTS)
505    Caldwell-Pope 25' 3PT Jump Shot (13 PTS) (Ball...
506                   Williams S.FOUL (P1.PN) (R.Acosta)
507             Caldwell-Pope Free Throw 1 of 1 (14 PTS)
508                              MISS Gallinari 2' Layup
509                         Harris REBOUND (Off:1 Def:9)
510                 Clippers Turnover: Shot Clock (T#14)
511                    MISS Stephenson 28' 3PT Jump Shot
512                       Williams REBOUND (Off:0 Def:7)
513                                                  NaN
Name: description, Length: 514, dtype: object

In [65]:
data['player'].unique()

array([nan, 'Ivica Zubac', 'Avery Bradley', 'Brandon Ingram',
       'Tobias Harris', 'Shai Gilgeous-Alexander', 'Boban Marjanovic',
       'Danilo Gallinari', 'Lonzo Ball', 'Kyle Kuzma', 'Josh Hart',
       'Tyson Chandler', 'Montrezl Harrell', 'Lou Williams',
       'Patrick Beverley', 'Mike Scott', 'Kentavious Caldwell-Pope',
       'Lance Stephenson', 'Tyrone Wallace', 'Mitchell Butler',
       'Marcin Gortat', 'Sindarius Thornwell', 'Alex Caruso'],
      dtype=object)

In [67]:
pointdata = pd.pivot_table(data = data, index = 'player', values = 'points', aggfunc = np.sum )

In [71]:
pointdata.sort_values('points', ascending = False).head()

                  points
player
Lou Williams        36.0
Kyle Kuzma          24.0
Danilo Gallinari    19.0
Lonzo Ball          19.0
Brandon Ingram      17.0

In [73]:
subset = data[['player','team','points']]

In [74]:
subset1 = subset.loc[subset['points'] > 0]

In [75]:
subset1.head()

            player team  points
10  Brandon Ingram  LAL     2.0
20   Avery Bradley  LAC     2.0
23      Lonzo Ball  LAL     2.0
24   Tobias Harris  LAC     2.0
34   Tobias Harris  LAC     2.0

In [76]:
subset2 = subset.loc[subset['team'] == 'LAC']
subset2.head()

          player team  points
1    Ivica Zubac  LAC     NaN
2  Avery Bradley  LAC     NaN
4  Avery Bradley  LAC     NaN
5  Avery Bradley  LAC     0.0
8  Tobias Harris  LAC     NaN